@{
    ViewData["Title"] = "Home Page";
}

<main class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-12"></div>
            @if (User.IsInRole("Admin"))
            {
            <div class="col-md-4 col-lg-4">
                <div class="card bg-pale-info">
                    <header class="card-header">
                        <h4 class="card-title"><strong>Categories</strong> <small class="sidetitle">Count of available categories</small></h4>
                    </header>
                    <div class="card-body">
                        Credibly harness multidisciplinary ideas via alternative e-commerce. Intrinsicly transition interdependent best practices before resource sucking outsourcing.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="card bg-pale-warning">
                    <header class="card-header">
                        <h4 class="card-title"><strong>Vendors</strong> <small class="sidetitle">Count of listed vendors</small></h4>
                    </header>
                    <div class="card-body">
                        Credibly harness multidisciplinary ideas via alternative e-commerce. Intrinsicly transition interdependent best practices before resource sucking outsourcing.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="card bg-pale-info">
                    <header class="card-header">
                        <h4 class="card-title"><strong>Ads</strong> <small class="sidetitle">Count of listed ads</small></h4>
                    </header>
                    <div class="card-body">
                        Credibly harness multidisciplinary ideas via alternative e-commerce. Intrinsicly transition interdependent best practices before resource sucking outsourcing.
                    </div>
                </div>
            </div>
            }
            @if (User.IsInRole("Vendor"))
            {
                <div class="col-md-4 col-lg-4">
                    <div class="card bg-pale-info">
                        <header class="card-header">
                            <h4 class="card-title"><strong>Followers</strong> <small class="sidetitle">Count of current followers</small></h4>
                        </header>
                        <div class="card-body">
                            Credibly harness multidisciplinary ideas via alternative e-commerce.Intrinsicly transition interdependent best practices before resource sucking outsourcing.
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</main>